@import 'meyer_reset';
$spacing-unit: 5px;
$nav-width: 200px;
$on-palm: 800px;
$on-laptop: 900px;
$header-height: 22px;
$font-color: rgba(0,0,0,1);
$soft-font: rgba(0,0,0,0.5);
$header-font-size: 40px;
$main-font-size: 17px;
$background-color: rgba(255,255,255,1);
$highlight-color: rgba(100,100,100,0.5); 
$text-color: $font-color;
$base-font-size: $main-font-size;
$grey-color:       #ccc;
$grey-color-light: lighten($grey-color, 12%);
$grey-color-dark:  darken($grey-color, 38%);

$soft-background: rgba(255,255,255,0.5);
$highlight: rgba(203,209,211,1);
$brightlight: rgba(259,222,202,1);
@mixin media-query($device) {
  @media screen and (max-width: $device) {
  @content;
  }
}

@mixin position-grid($start-col, $end-col, $start-row, $end-row) {
  grid-column-start: $start-col;
  grid-column-end: $end-col;
  grid-row-start: $start-row;
  grid-row-end: $end-row;
}

#body-load {
  opacity: 0;
  transition: .5s ease-in; 
}

body {
  height: 100%;
  display: inline-block;
	max-width: 100%!important;
}

a {
  color: $font-color;
  text-decoration: none;
}

.grid {
  justify-items: stretch;
  display: grid;
  grid-template-rows: repeat(100, 1%);
  grid-template-columns: repeat(100, 1%);
}
html {
  box-sizing: border-box;
  //font-family: "Courier New", sans-serif;
  font-weight: 500;
  font-size: $main-font-size; 
	@include media-query($on-palm) {
		font-size: $main-font-size*0.8
	}
  letter-spacing: 3px;
  height: 100%;
}

#top-nav {
  height: 100%;
  @include position-grid(1,101,1,101);
}
.wrap {
  height: 100%;
  width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  .page {
    margin-left: $nav-width + 40px;
    margin-right: 10vw;
    display: inline-block;
    height: 100%;
    @include media-query($on-palm) {
			margin-left: 5px;
    }
    header {
      width: 100%;
      .header-wrap {
	height: 10vh;
	margin: $spacing-unit*2;
	padding: $spacing-unit * 3;
	h2 {
          font-size: $header-font-size;
	}
	@include media-query($on-palm){
	  margin-top: $header-height * 2;
	}
	.subnav {
	   margin-top: 10px;
		 line-height: $base-font-size*2;
			display: block;
           a {
             display: inline-block;
             padding: 2px;
             &:hover {
	       			 background-color: $highlight;
               transition: .3s ease-in;
							 cursor: pointer;
	     }
	   }
		 @include media-query($on-palm) {
				line-height: $base-font-size;
        letter-spacing: 1px;
		 }
	}
      }
    }
    .content {
      width: 100%;
      margin-top: 40px;
      h3 {
        font-size: $main-font-size*1.5;
        margin-bottom: 20px;
      }
    }
  }
  footer {
    margin-top: 30px;
    border-top: 5px solid $font-color;
    width: 100%;
    height: 500px;
    line-height: 45px;
    text-align: left;
      .social-media {
	margin-left: 80px;
	a {
      	  color: $font-color;
      	  background-color: rgba(255,255,255,.6);
      	  padding: 5px;
	  border: 2px solid $font-color;
	  &:hover {
	    background-color: $brightlight;
	    transition: .2s ease-in;
	  }
      	}
      }
  }
}
nav {
  height: 100vh;
  background-color: $background-color;
  position: fixed;
  top: 0;
  width: $nav-width;
  z-index: 2;
  @include media-query($on-palm){
    height: $header-height*2;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: block;
    font-size: $main-font-size * 0.7; 
  }
  a {
  }

}
#top-nav {
    @include media-query($on-palm) {
      box-shadow: 1px 0px 4px lighten(black, 5%);
    }
    &:hover {
    transition: .2s ease-in;
  }
}

#top-nav {
    a {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
  }
   line-height: 25vh;
  .pretty {
    &:hover {
      background-color: $brightlight;
    }
    @include position-grid(1,101,1,26);
    &:hover {
        transition: .3s ease-in; 
	color: red;
    }
    img {
      height: 16vh;
      max-width: $nav-width;
      padding-top: 2vh;
    }
  }
  .about {
    @include position-grid(1,101,26,51);
    &:hover {
        transition: .3s ease-in; 
        background-color: $highlight;

    }
  }
  .work {
    @include position-grid(1,101,51,76);
    &:hover {
        transition: .3s ease-in;
        background-color: $highlight;
    }
    }
  .other {
    @include position-grid(1,101,76,101);
    &:hover {
        transition: .3s ease-in;
        background-color: $highlight;
    }

  }
  @include media-query ($on-palm){ 
    width: 100%;
    line-height: 2*$header-height;
    .pretty {
    @include position-grid(1,26,1,101);
    img {
      height: $header-height*1.5;
      padding-top: 5px;
      
    }

    }
    .about {
    @include position-grid(26,51,1,101);
  }
  .work {
    @include position-grid(51,76,1,101);
    }
  
  .other {
    @include position-grid(76,101,1,101);
  }
  }
}

p {
	line-height: $base-font-size*1.3;
}
#top-nav a {
      display: block;
  text-decoration: underline; 
}

#index {
h1 {
    font-weight: 100;
    @include position-grid(16,35,45,50);
    text-align: center;
  }
}

.sub-title {
    width: 100%;
    border-bottom: 2px solid $font-color;
    line-height: $header-font-size*2;
		@include media-query($on-palm){
       line-height: $header-font-size;
       font-size: $header-font-size*.7!important;
		}
  }

.projects{
  display: inline-block;
    padding: 15px;
    .project {
    	color: $font-color;
    	padding: 15px;
      box-shadow: 0px 0px 8px 3px lighten($highlight, 5%);
    	display: inline-block;
    	width: 100%;
    	padding-bottom: 25px;
    	margin-bottom: 25px;
    	@include media-query($on-palm){
    	  text-align: center;
    	}
			.sourcecode {
				margin-top: 15px!important;
				a {
					font-size: $base-font-size * .8;
					font-weight: 100;
					color: blue;
					text-decoration: underline;
				}
			}
    	.descrip, .info, .proj-title {
	  		display: inline-block;
     }
		.proj-title {
			padding: 10px 10px 10px 0;
			border-radius: 5px;
			font-size: $main-font-size*1.6;
			@include media-query($on-palm) {
				font-size: $main-font-size* 1.2;
			}
		}
        .descrip {
					 background-color: rgba(60,60,60,1);
					 color: $background-color;
           width: 100%;
           margin-bottom: 19px;
					 border-radius: 7px;
           padding-top: 8px;
         }
        .info {
          float: left;
	  			width: 55%;
	  			text-align: left;
          line-height: $main-font-size*1.2;
          margin-top: 6vw;
					color: #666;
          h4 {
            font-weight: 600;
          }
	  @include media-query($on-palm){
	    width: 100%;
      padding-bottom: 20px;
	    margin-top: 0;
	  }
        }
          h3 {
            padding: 5px;
	    padding-left: 10px;
            font-size: $header-font-size*0.7;}
          li {
	    font-size: $main-font-size*0.8;
           h4 {
	    margin-left: 10px;
           }
           h5 {
            margin-left: 20px; 
            font-style: italic;
           }
         }
    .square {
      float: right;
			position: relative;
      height: 20vw;
      width: 20vw;
      display: inline-block;
      margin: 2px;
      @include media-query($on-palm){
				width: 35vw;
				height: 35vw;
					min-width: 122px;
					min-height: 122px;

				float: none;
      }
          .overlay, .proj-image, a {
	    			float: left;
            height: 20vw;
            width: 20vw;
	    			position: absolute;
						top: 0;
						left: 0;
            display: inline-block;
		 				@include media-query($on-palm){ 
							 width: 35vw;
		 				   height: 35vw; 
								min-width: 122px;
								min-height: 122px;

		 				 }
            &:hover {
	    			}
	    			img {
          	  width: 20vw;
          	  height: 20vw;
          	  display: inline-block;
          	  text-align: center;
          	  z-index: 1;
		  				@include media-query($on-palm){
		  				  width: 35vw;
		  				  height: 35vw; 
							  min-width: 122px;
								min-height: 122px;
		  				}
						}
						}
						.proj-image {
							z-index: 1;
						}
						.overlay {
							z-index: 2;
							text-align: center;
							.inner-text {
								display: none;
					
							}
							&:hover {
								background-color: rgba(0,0,0,.7);
								.inner-text {
									display: inline-block;
									color: $background-color;
									padding-top: 10%;
									img {
										height: 35px!important;
										width: auto!important;
										min-width: 35px!important;
										min-height: 35px!important;
									}
								}
							}
						}
		}
}}
   
#butt {
  background-color: $soft-font;
  color: $background-color;
  padding: 4px 20px;
  margin: 40px;
  border-radius: 10px;
  font-size: $main-font-size*1.2;
  font-family: 'Times New Roman';
  &:hover {
    background-color: $highlight;
    transition: .2s ease-in;
  }
} 

.expand-options {
  display: inline-block;
  padding: 3px 6px;
  .icon {
    margin-right: 15px;
    color: $text-color;
	}
	&:hover {
    cursor: pointer;
    transition: .3s ease-in;
    color: $text-color;
    background-color: $grey-color-light;
  }	
  color: lighten($grey-color-dark,15%);
}

.expand-options-save {
	text-decoration: none;
  display: inline-block;
  padding: 3px 6px;
	border: 1px solid $background-color;
  .icon {
    margin-right: 15px;
    color: $text-color;
	}
	&:hover {
    cursor: pointer;
    color: $background-color;
    background-color: $grey-color-dark;
		transition: .2s ease-in;
		.icon {
			color: $highlight-color;
		}
  }	
  color: lighten($grey-color-dark,15%);
}


.save-button {
	padding: 15px;
  margin-left: 25px;
	font-size: $base-font-size;
	.side {
		display: inline;
	}
	.down {
		display: none;
	}

	&:hover {
		.side {
			display: none;
		}
		.down {
			display: inline;
			color: $highlight;
		}
	}

}

#expand {
  &:hover { cursor: pointer;
.icon {
	}
}
	
}

.email {
	display: inline-block;
	&:hover {
		cursor: pointer;
	}
	ul.reply-emails {
				overflow: hidden;
				height: 0;
				margin-left: 7px;
				padding-left: 5px;
      	background-color: $background-color; 
				margin-top: -5px;

				border-left: 2px solid $font-color;
				border-right: 2px solid $font-color;
				a {
					border: none!important;
					background-color: rgba(1,1,1,0)!important;
					padding: 7px!important;
					margin: 0!important;
					color: blue!important;
					&:hover {
						text-decoration: underline;
					}
				}
	}
}

.mail-icon {
	height: 14px;
	width: auto;
	margin-right: 5px;
}


.back-to-top {
	text-align: center;
	display: block;
	position: fixed;
	bottom: -115px;
	right: 55px;
	z-index: 5;
	-webkit-transition-property: top, bottom;
	-webkit-transition-duration: 0.5s;

	p {
	border-radius: 10px;
	padding: 6px;
	background-color: rgba(0,0,0,.5);
	color: $background-color;
  	&:hover {
		cursor: pointer;
    background-color: rgba(0,0,0,.8);
		transition: .3s ease-in-out;
	}
	}
	img {
		height: 20px;
		width: auto;
		display: inline;
	}
	@include media-query($on-palm){
		width: 60px;
	}
}

.bot-show {
	bottom: 15px;
}
