/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#body-load {
  opacity: 0;
  transition: .5s ease-in; }

body {
  height: 100%;
  display: inline-block;
  max-width: 100% !important; }

a {
  color: black;
  text-decoration: none; }

.grid {
  justify-items: stretch;
  display: grid;
  grid-template-rows: repeat(100, 1%);
  grid-template-columns: repeat(100, 1%); }

html {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3px;
  height: 100%; }
  @media screen and (max-width: 800px) {
    html {
      font-size: 13.6px; } }

#top-nav {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 101;
  grid-row-start: 1;
  grid-row-end: 101; }

.wrap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  .wrap .page {
    margin-left: 240px;
    margin-right: 10vw;
    display: inline-block;
    height: 100%; }
    @media screen and (max-width: 800px) {
      .wrap .page {
        margin-left: 5px; } }
    .wrap .page header {
      width: 100%; }
      .wrap .page header .header-wrap {
        height: 10vh;
        margin: 10px;
        padding: 15px; }
        .wrap .page header .header-wrap h2 {
          font-size: 40px; }
        @media screen and (max-width: 800px) {
          .wrap .page header .header-wrap {
            margin-top: 44px; } }
        .wrap .page header .header-wrap .subnav {
          margin-top: 10px;
          line-height: 34px; }
          .wrap .page header .header-wrap .subnav a {
            display: inline-block;
            padding: 2px; }
            .wrap .page header .header-wrap .subnav a:hover {
              background-color: #cbd1d3;
              transition: .3s ease-in;
              cursor: pointer; }
    .wrap .page .content {
      width: 100%;
      margin-top: 40px; }
      .wrap .page .content h3 {
        font-size: 25.5px;
        margin-bottom: 20px; }
  .wrap footer {
    margin-top: 30px;
    border-top: 5px solid black;
    width: 100%;
    height: 500px;
    line-height: 45px;
    text-align: left; }
    .wrap footer .social-media {
      margin-left: 80px; }
      .wrap footer .social-media a {
        color: black;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 5px;
        border: 2px solid black; }
        .wrap footer .social-media a:hover {
          background-color: #ffdeca;
          transition: .2s ease-in; }

nav {
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 2; }
  @media screen and (max-width: 800px) {
    nav {
      height: 44px;
      top: 0px;
      width: 100%;
      z-index: 2;
      display: block;
      font-size: 11.9px; } }

@media screen and (max-width: 800px) {
  #top-nav {
    box-shadow: 1px 0px 4px #0d0d0d; } }
#top-nav:hover {
  transition: .2s ease-in; }

#top-nav {
  line-height: 25vh; }
  #top-nav a {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative; }
  #top-nav .pretty {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 1;
    grid-row-end: 26; }
    #top-nav .pretty:hover {
      background-color: #ffdeca; }
    #top-nav .pretty:hover {
      transition: .3s ease-in;
      color: red; }
    #top-nav .pretty img {
      height: 16vh;
      max-width: 200px;
      padding-top: 2vh; }
  #top-nav .about {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 26;
    grid-row-end: 51; }
    #top-nav .about:hover {
      transition: .3s ease-in;
      background-color: #cbd1d3; }
  #top-nav .work {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 51;
    grid-row-end: 76; }
    #top-nav .work:hover {
      transition: .3s ease-in;
      background-color: #cbd1d3; }
  #top-nav .other {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 76;
    grid-row-end: 101; }
    #top-nav .other:hover {
      transition: .3s ease-in;
      background-color: #cbd1d3; }
  @media screen and (max-width: 800px) {
    #top-nav {
      width: 100%;
      line-height: 44px; }
      #top-nav .pretty {
        grid-column-start: 1;
        grid-column-end: 26;
        grid-row-start: 1;
        grid-row-end: 101; }
        #top-nav .pretty img {
          height: 33px;
          padding-top: 5px; }
      #top-nav .about {
        grid-column-start: 26;
        grid-column-end: 51;
        grid-row-start: 1;
        grid-row-end: 101; }
      #top-nav .work {
        grid-column-start: 51;
        grid-column-end: 76;
        grid-row-start: 1;
        grid-row-end: 101; }
      #top-nav .other {
        grid-column-start: 76;
        grid-column-end: 101;
        grid-row-start: 1;
        grid-row-end: 101; } }

p {
  line-height: 22.1px; }

#top-nav a {
  display: block;
  text-decoration: underline; }

#index h1 {
  font-weight: 100;
  grid-column-start: 16;
  grid-column-end: 35;
  grid-row-start: 45;
  grid-row-end: 50;
  text-align: center; }

.sub-title {
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 80px; }

.projects {
  display: inline-block;
  padding: 15px; }
  .projects .project {
    color: black;
    padding: 15px;
    box-shadow: 0px 0px 8px 3px #d9dddf;
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px; }
    @media screen and (max-width: 800px) {
      .projects .project {
        text-align: center; } }
    .projects .project .sourcecode {
      margin-top: 15px !important; }
      .projects .project .sourcecode a {
        font-size: 13.6px;
        font-weight: 100;
        color: blue;
        text-decoration: underline; }
    .projects .project .descrip, .projects .project .info, .projects .project .proj-title {
      display: inline-block; }
    .projects .project .proj-title {
      padding: 10px 10px 10px 0;
      border-radius: 5px;
      font-size: 27.2px; }
    .projects .project .descrip {
      background-color: #3c3c3c;
      color: white;
      width: 100%;
      margin-bottom: 19px;
      border-radius: 7px;
      padding-top: 8px; }
    .projects .project .info {
      float: left;
      width: 55%;
      text-align: left;
      line-height: 20.4px;
      margin-top: 6vw;
      color: #666; }
      .projects .project .info h4 {
        font-weight: 600; }
      @media screen and (max-width: 800px) {
        .projects .project .info {
          width: 100%;
          padding-bottom: 20px;
          margin-top: 0; } }
    .projects .project h3 {
      padding: 5px;
      padding-left: 10px;
      font-size: 28px; }
    .projects .project li {
      font-size: 13.6px; }
      .projects .project li h4 {
        margin-left: 10px; }
      .projects .project li h5 {
        margin-left: 20px;
        font-style: italic; }
    .projects .project .square {
      float: right;
      position: relative;
      height: 20vw;
      width: 20vw;
      display: inline-block;
      margin: 2px; }
      @media screen and (max-width: 800px) {
        .projects .project .square {
          width: 35vw;
          height: 35vw;
          min-width: 122px;
          min-height: 122px;
          float: none; } }
      .projects .project .square .overlay, .projects .project .square .proj-image, .projects .project .square a {
        float: left;
        height: 20vw;
        width: 20vw;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block; }
        @media screen and (max-width: 800px) {
          .projects .project .square .overlay, .projects .project .square .proj-image, .projects .project .square a {
            width: 35vw;
            height: 35vw;
            min-width: 122px;
            min-height: 122px; } }
        .projects .project .square .overlay img, .projects .project .square .proj-image img, .projects .project .square a img {
          width: 20vw;
          height: 20vw;
          display: inline-block;
          text-align: center;
          z-index: 1; }
          @media screen and (max-width: 800px) {
            .projects .project .square .overlay img, .projects .project .square .proj-image img, .projects .project .square a img {
              width: 35vw;
              height: 35vw;
              min-width: 122px;
              min-height: 122px; } }
      .projects .project .square .proj-image {
        z-index: 1; }
      .projects .project .square .overlay {
        z-index: 2;
        text-align: center; }
        .projects .project .square .overlay .inner-text {
          display: none; }
        .projects .project .square .overlay:hover {
          background-color: rgba(0, 0, 0, 0.7); }
          .projects .project .square .overlay:hover .inner-text {
            display: inline-block;
            color: white;
            padding-top: 10%; }
            .projects .project .square .overlay:hover .inner-text img {
              height: 35px !important;
              width: auto !important;
              min-width: 35px !important;
              min-height: 35px !important; }

#butt {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 20px;
  margin: 40px;
  border-radius: 10px;
  font-size: 20.4px;
  font-family: 'Times New Roman'; }
  #butt:hover {
    background-color: #cbd1d3;
    transition: .2s ease-in; }

.expand-options {
  display: inline-block;
  padding: 3px 6px;
  color: #919191; }
  .expand-options .icon {
    margin-right: 15px;
    color: black; }
  .expand-options:hover {
    cursor: pointer;
    transition: .3s ease-in;
    color: black;
    background-color: #ebebeb; }

.expand-options-save {
  text-decoration: none;
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid white;
  color: #919191; }
  .expand-options-save .icon {
    margin-right: 15px;
    color: black; }
  .expand-options-save:hover {
    cursor: pointer;
    color: white;
    background-color: #6b6b6b;
    transition: .2s ease-in; }
    .expand-options-save:hover .icon {
      color: rgba(100, 100, 100, 0.5); }

.save-button {
  padding: 15px;
  margin-left: 25px;
  font-size: 17px; }
  .save-button .side {
    display: inline; }
  .save-button .down {
    display: none; }
  .save-button:hover .side {
    display: none; }
  .save-button:hover .down {
    display: inline;
    color: #cbd1d3; }

#expand:hover {
  cursor: pointer; }

.email {
  display: inline-block; }
  .email:hover {
    cursor: pointer; }
  .email ul.reply-emails {
    overflow: hidden;
    height: 0;
    margin-left: 7px;
    padding-left: 5px;
    background-color: white;
    margin-top: -5px;
    border-left: 2px solid black;
    border-right: 2px solid black; }
    .email ul.reply-emails a {
      border: none !important;
      background-color: rgba(1, 1, 1, 0) !important;
      padding: 7px !important;
      margin: 0 !important;
      color: blue !important; }
      .email ul.reply-emails a:hover {
        text-decoration: underline; }

.mail-icon {
  height: 14px;
  width: auto;
  margin-right: 5px; }

.back-to-top {
  text-align: center;
  display: block;
  position: fixed;
  bottom: -115px;
  right: 55px;
  z-index: 5;
  -webkit-transition-property: top, bottom;
  -webkit-transition-duration: 0.5s; }
  .back-to-top p {
    border-radius: 10px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
    .back-to-top p:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
      transition: .3s ease-in-out; }
  .back-to-top img {
    height: 20px;
    width: auto;
    display: inline; }
  @media screen and (max-width: 800px) {
    .back-to-top {
      width: 60px; } }

.bot-show {
  bottom: 15px; }

/*# sourceMappingURL=main.css.map */
