@import 'meyer_reset';
$spacing-unit: 5px;
$nav-width: 200px;
$on-palm: 600px;
$on-laptop: 900px;
$header-height: 22px;
$font-color: rgba(0,0,0,1);
$soft-font: rgba(0,0,0,0.5);
$header-font-size: 30px;
$main-font-size: 17px;
$background-color: rgba(255,255,255,1);
$highlight-color: rgba(100,100,100,0.5); 
$soft-background: rgba(255,255,255,0.5);
@mixin media-query($device) {
  @media screen and (max-width: $device) {
  @content;
  }
}

@mixin position-grid($start-col, $end-col, $start-row, $end-row) {
  grid-column-start: $start-col;
  grid-column-end: $end-col;
  grid-row-start: $start-row;
  grid-row-end: $end-row;
}

#body-load {
  opacity: 0;
  transition: .5s ease-in; 
}

body {
  height: 100%;
  display: inline-block;
}

a {
  color: $font-color;
  text-decoration: none;
}

.grid {
  justify-items: stretch;
  display: grid;
  grid-template-rows: repeat(100, 1%);
  grid-template-columns: repeat(100, 1%);
}
html {
  box-sizing: border-box;
  //font-family: "Courier New", sans-serif;
  font-weight: 500;
  font-size: $main-font-size; 
  letter-spacing: 3px;
  height: 100%;
}

#top-nav {
  height: 100%;
  @include position-grid(1,101,1,101);
  //box-shadow: 1px 0px 4px lighten($evaf-color, 5%);
}
.wrap {
  height: 100%;
  width: 100vw;
  .page {
    margin-left: $nav-width + 40px;
    margin-right: 10vw;
    display: inline-block;
    height: 100%;
    @include media-query($on-palm) {
      margin-left: 10vw;
    }
    header {
      width: 100%;
      .header-wrap {
	height: 10vh;
	margin: $spacing-unit*2;
	padding: $spacing-unit * 3;
	h2 {
          font-size: 30px;
	}
	@include media-query($on-palm){
	  margin-top: $header-height * 2;
	}
      }
    }
    .content {
      width: 100%;
    }
  }
  footer {
    margin-top: 30px;
    border-top: 5px solid $font-color;
    width: 100%;
    height: 500px;
    line-height: 45px;
    text-align: center;
      .social-media {
	margin-left: 80px;
	a {
      	  color: $font-color;
      	  background-color: $soft-background;
      	  padding: 5px;
	  &:hover {
	    background-color: $background-color;
	    transition: .2s ease-in;
	  }
      	}
      }
  }
}
nav {
  height: 100vh;//$header-height*2;
  background-color: $background-color;
  position: fixed;
  top: 0;
  width: $nav-width;
  z-index: 2;
  @include media-query($on-palm){
    height: $header-height*2;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: block;
    font-size: $main-font-size; 
  }
  a {
  }

}
#top-nav {
    &:hover {
    transition: .2s ease-in;
  }
}

#top-nav {
    a {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
  }
   line-height: 25vh;
  .pretty {
    @include position-grid(1,101,1,26);
    border: 1px solid $background-color;
    &:hover {
        transition: .1s ease-in; 
	color: red;
    }
    img {
      height: 18vh;
      max-width: $nav-width;
      padding-top: 30px;
    }
  }
  .about {
    @include position-grid(1,101,26,51);
    border: 1px solid $background-color;
    &:hover {
        transition: .1s ease-in; 
	color: $background-color;
        background-color: $soft-font;

    }
  }
  .work {
    @include position-grid(1,101,51,76);
    border: 1px solid $background-color;
    &:hover {
        transition: .1s ease-in;
	color: $background-color;
        background-color: $soft-font;

    }
    }
  .other {
    @include position-grid(1,101,76,101);
    border: 1px solid $background-color;
    &:hover {
        transition: .1s ease-in;
	color: $background-color;
        background-color: $soft-font;
    }

  }
  @include media-query ($on-palm){ 
    width: 100%;
    line-height: 2*$header-height;
    .pretty {
    @include position-grid(1,26,1,101);
    img {
      height: $header-height*1.5;
      padding-top: 5px;
      
    }

    }
    .about {
    @include position-grid(26,51,1,101);
  }
  .work {
    @include position-grid(51,76,1,101);
    }
  
  .other {
    @include position-grid(76,101,1,101);
  }
  }
}

#top-nav a {
      display: block;
  text-decoration: underline; 
}

#index {
h1 {
    font-weight: 100;
    @include position-grid(16,35,45,50);
    text-align: center;
  }
}

.projects{
  display: inline-block;
  .project {
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    @include media-query($on-palm){
      text-align: center;
    }
        .info {
	  float: left;
	  display: inline-block;
	  width: 50%;
	  text-align: left;
	  @include media-query($on-palm){
	    width: 100%;
	  }

          h3 {
            padding: 5px;
	    padding-left: 20px;
            font-size: $header-font-size*0.7;}
          li {
	    font-size: $main-font-size*0.8;
	    padding: 10px;
	    padding-left: 20px;
            }}
    .square {
      float: right;
      height: 20vw;
      width: 20vw;
      display: inline-block;
      margin: 2px;
      @include media-query($on-palm){
	width: 65vw;
	height: 65vw;
	float: none;
      }
          .overlay {
	    float: left;
            height: 20vw;
            width: 20vw;
	    position: relative;
            display: inline-block;
		 @include media-query($on-palm){
		    width: 65vw;
		    height: 65vw; 
		  }
            &:hover {
	      background-color: $soft-font;
	      transition: .2s ease-out;
	    }
	    img {
          	  width: 20vw;
          	  height: 20vw;
          	  display: inline-block;
          	  text-align: center;
          	  z-index: -1;
		  position: absolute;
		  top: 0;
		  left: 0;
		  @include media-query($on-palm){
		    width: 65vw;
		    height: 65vw; 
		  }
          	}
	      .inner-text {
		width: 20vw;
		height: 20vw;
		position: absolute;
		display: inline-block;
		z-index: 1;
		top: 0;
		left: 0;
		color: $background-color;
		text-align: center;
		 @include media-query($on-palm){
		    width: 65vw;
		    height: 65vw; 
		  }
		p {
		  display: none;
		  width: 100%;
		  height: 50px;
		  margin-top: 8vw;
		  line-height: 50px;
		  @include media-query($on-palm){
		    height: 65px;
		    margin-top: 25vw;
		    line-height: 65px;
		  }
		}
		&:hover {
		  p {
		    transition: 2s ease-in;
		    background-color: $soft-font;
		    display: inline-block;
		  }
		}
		}}}
}}
    
