@import 'meyer_reset';
$spacing-unit: 5px;
$nav-width: 200px;
$on-palm: 600px;
$on-laptop: 900px;
$header-height: 20px;
$dark-trim: rgba(33,33,33,1);
$light-trim: rgba(182,182,182,1);
$header-dark: rgba(0,0,0,0.9);
$font-color: rgba(0,0,0,1);
$fave-color: rgba(255,255,255,1);
$second-fave-color: rgba(255,255,102,1);
$evaf-color: rgba(3, 75, 96, 1);
$glass-color: rgba(250,250,250,0.3);
$header-font-size: 30px;
$main-font-size: 17px;
@mixin media-query($device) {
  @media screen and (max-width: $device) {
  @content;
  }
}

@mixin position-grid($start-col, $end-col, $start-row, $end-row) {
  grid-column-start: $start-col;
  grid-column-end: $end-col;
  grid-row-start: $start-row;
  grid-row-end: $end-row;
}

#index #body-load {
  opacity: 0;
  transition: .5s ease-in; 
}

body {
  height: 100%;
  display: inline-block;
}

.grid {
  justify-items: stretch;
  display: grid;
  grid-template-rows: repeat(50, 2%);
  grid-template-columns: repeat(50, 2%);
}
html {
  box-sizing: border-box;
  font-family: "Courier New", sans-serif;
  font-weight: 500;
  font-size: $main-font-size; 
  letter-spacing: 3px;
  height: 100%;
  background-color: lighten($fave-color, 5%);
}

#top-nav {
  height: 100%;
  @include position-grid(1,51,1,51);
  box-shadow: 1px 0px 4px lighten($evaf-color, 5%);
}
.wrap {
  height: 100%;
  .page {
    width: 60vw;
    float: left;
    display: inline-block;
    height: 100%;
    @include media-query($on-palm) {
      width: 100vw;
    }
    header {
      width: 100%;
      .header-wrap {
	height: 57vh;
	border: 3px solid $evaf-color;
	margin: $spacing-unit*2;
	padding: $spacing-unit * 3;
	h1 {
	  @include position-grid(1, 51, 1, 51);
	}
	h2 {
	  @include position-grid(25, 51, 25, 51);
	}
	@include media-query($on-palm){
	  margin-top: $header-height * 2;
	}
      }
    }
    .content {
      width: 100%;
    }
  }
  .placeholder {
    float: left;
    background-color: rgba(0,0,0,0);
    width: 20vw;
    min-width: $nav-width;
    height: 100%;
    display: inline-block;
    @include media-query($on-palm){
      display: none;
    }
  }
}
nav {
  height: 100vh;//$header-height*2;
  position: fixed;
  top: 0;
  width: $nav-width;
  z-index: 2;
  @include media-query($on-palm){
    height: $header-height*2;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: block;
    font-size: $main-font-size*0.6; 
  }
  a {
    color: $fave-color;
  }

}
#top-nav {
    border: 1px solid $dark-trim;
    &:hover {
    background-color: $evaf-color;
    transition: .3s ease-in;
  }
}

#top-nav {
    a {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    padding-top: 41%;
  }
  .pretty {
    @include position-grid(1,51,1,12);
    background-color: red!important;
  }
  .hello {
    @include position-grid(1,51,12,24);
  }
  .work {
    @include position-grid(1,51,24,36);
    }
  .other {
    @include position-grid(1,51,36,51);
  }
  @include media-query ($on-palm){ 
    width: 100%;
    .pretty {
    @include position-grid(1,12,1,50);
    }
    .hello {
    @include position-grid(12,30,1,50);
  }
  .work {
    @include position-grid(30,40,1,50);
    }
  
  .other {
    @include position-grid(40,51,1,50);
  }
  }
}

#top-nav a {
      display: block;
      background-color: $dark-trim;
  text-decoration: underline; 
}
#loading-gif,#loaded-gif {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top:70px;
  text-align: center;
  img {
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    padding: 50px;
    border: 9px solid white;
  }
}

#index#loading-gif, #index#loaded-gif {
  display: block;
}

#index {
h1 {
    font-weight: 100;
    @include position-grid(16,35,45,50);
    color: lighten($font-color, 100%);
    text-align: center;
  }
}

.pretty {
  z-index: 2;
  position: fixed;
  top: 0;
  #cvs {
    display: inline-block;
    background: rgba(255,255,255,1)!important;
    width: $nav-width;
    height: $nav-width;
  }
}
