/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#body-load {
  opacity: 0;
  transition: .5s ease-in; }

body {
  height: 100%;
  display: inline-block; }

a {
  color: black;
  text-decoration: none; }

.grid {
  justify-items: stretch;
  display: grid;
  grid-template-rows: repeat(100, 1%);
  grid-template-columns: repeat(100, 1%); }

html {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3px;
  height: 100%; }

#top-nav {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 101;
  grid-row-start: 1;
  grid-row-end: 101; }

.wrap {
  height: 100%;
  width: 100vw; }
  .wrap .page {
    margin-left: 240px;
    margin-right: 10vw;
    display: inline-block;
    height: 100%; }
    @media screen and (max-width: 800px) {
      .wrap .page {
        margin-left: 10vw; } }
    .wrap .page header {
      width: 100%; }
      .wrap .page header .header-wrap {
        height: 10vh;
        margin: 10px;
        padding: 15px; }
        .wrap .page header .header-wrap h2 {
          font-size: 40px; }
        @media screen and (max-width: 800px) {
          .wrap .page header .header-wrap {
            margin-top: 44px; } }
        .wrap .page header .header-wrap .subnav {
          margin-top: 10px; }
          .wrap .page header .header-wrap .subnav a {
            display: inline-block;
            padding: 2px; }
            .wrap .page header .header-wrap .subnav a:hover {
              background-color: rgba(0, 0, 0, 0.5);
              color: white;
              transition: .1s ease-in; }
    .wrap .page .content {
      width: 100%;
      margin-top: 40px; }
      .wrap .page .content h3 {
        font-size: 25.5px;
        margin-bottom: 20px; }
  .wrap footer {
    margin-top: 30px;
    border-top: 5px solid black;
    width: 100%;
    height: 500px;
    line-height: 45px;
    text-align: center; }
    .wrap footer .social-media {
      margin-left: 80px; }
      .wrap footer .social-media a {
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px; }
        .wrap footer .social-media a:hover {
          background-color: white;
          transition: .2s ease-in; }

nav {
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 2; }
  @media screen and (max-width: 800px) {
    nav {
      height: 44px;
      top: 0px;
      width: 100%;
      z-index: 2;
      display: block;
      font-size: 17px; } }

#top-nav:hover {
  transition: .2s ease-in; }

#top-nav {
  line-height: 25vh; }
  #top-nav a {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative; }
  #top-nav .pretty {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 1;
    grid-row-end: 26;
    border: 1px solid white; }
    #top-nav .pretty:hover {
      transition: .1s ease-in;
      color: red; }
    #top-nav .pretty img {
      height: 18vh;
      max-width: 200px;
      padding-top: 30px; }
  #top-nav .about {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 26;
    grid-row-end: 51;
    border: 1px solid white; }
    #top-nav .about:hover {
      transition: .1s ease-in;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); }
  #top-nav .work {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 51;
    grid-row-end: 76;
    border: 1px solid white; }
    #top-nav .work:hover {
      transition: .1s ease-in;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); }
  #top-nav .other {
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 76;
    grid-row-end: 101;
    border: 1px solid white; }
    #top-nav .other:hover {
      transition: .1s ease-in;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 800px) {
    #top-nav {
      width: 100%;
      line-height: 44px; }
      #top-nav .pretty {
        grid-column-start: 1;
        grid-column-end: 26;
        grid-row-start: 1;
        grid-row-end: 101; }
        #top-nav .pretty img {
          height: 33px;
          padding-top: 5px; }
      #top-nav .about {
        grid-column-start: 26;
        grid-column-end: 51;
        grid-row-start: 1;
        grid-row-end: 101; }
      #top-nav .work {
        grid-column-start: 51;
        grid-column-end: 76;
        grid-row-start: 1;
        grid-row-end: 101; }
      #top-nav .other {
        grid-column-start: 76;
        grid-column-end: 101;
        grid-row-start: 1;
        grid-row-end: 101; } }

#top-nav a {
  display: block;
  text-decoration: underline; }

#index h1 {
  font-weight: 100;
  grid-column-start: 16;
  grid-column-end: 35;
  grid-row-start: 45;
  grid-row-end: 50;
  text-align: center; }

.sub-title {
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 80px; }

.projects {
  display: inline-block;
  background-color: #4f7399;
  padding: 15px;
  color: white; }
  .projects .project {
    border-radius: 15px;
    color: black;
    padding: 15px;
    background-color: white;
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px; }
    @media screen and (max-width: 800px) {
      .projects .project {
        text-align: center; } }
    .projects .project .descrip, .projects .project .info {
      display: inline-block; }
    .projects .project .descrip {
      width: 100%;
      margin-bottom: 19px;
      text-align: center; }
    .projects .project .info {
      float: left;
      width: 55%;
      text-align: left;
      line-height: 20.4px;
      margin-top: 6vw; }
      .projects .project .info h4 {
        font-weight: 600; }
      @media screen and (max-width: 800px) {
        .projects .project .info {
          width: 100%;
          padding-bottom: 20px;
          margin-top: 0; } }
    .projects .project h3 {
      padding: 5px;
      padding-left: 10px;
      font-size: 28px; }
    .projects .project li {
      font-size: 13.6px; }
      .projects .project li h4 {
        margin-left: 10px; }
      .projects .project li h5 {
        margin-left: 20px;
        font-style: italic; }
    .projects .project .square {
      float: right;
      height: 20vw;
      width: 20vw;
      display: inline-block;
      margin: 2px; }
      @media screen and (max-width: 800px) {
        .projects .project .square {
          width: 55vw;
          height: 55vw;
          float: none; } }
      .projects .project .square .overlay {
        background-color: red;
        float: left;
        height: 20vw;
        width: 20vw;
        position: relative;
        display: inline-block; }
        @media screen and (max-width: 800px) {
          .projects .project .square .overlay {
            width: 55vw;
            height: 55vw; } }
        .projects .project .square .overlay:hover {
          background-color: rgba(0, 0, 0, 0.5);
          transition: .2s ease-out; }
        .projects .project .square .overlay img {
          width: 20vw;
          height: 20vw;
          display: inline-block;
          text-align: center;
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0; }
          @media screen and (max-width: 800px) {
            .projects .project .square .overlay img {
              width: 55vw;
              height: 55vw; } }
        .projects .project .square .overlay .inner-text {
          width: 20vw;
          height: 20vw;
          position: absolute;
          display: inline-block;
          z-index: 2;
          top: 0;
          left: 0;
          color: white;
          text-align: center; }
          @media screen and (max-width: 800px) {
            .projects .project .square .overlay .inner-text {
              width: 55vw;
              height: 55vw; } }
          .projects .project .square .overlay .inner-text p {
            display: none;
            width: 100%;
            height: 50px;
            margin-top: 8vw;
            line-height: 50px; }
            @media screen and (max-width: 800px) {
              .projects .project .square .overlay .inner-text p {
                height: 65px;
                margin-top: 25vw;
                line-height: 65px; } }
          .projects .project .square .overlay .inner-text:hover p {
            transition: 2s ease-in;
            background-color: rgba(0, 0, 0, 0.5);
            display: inline-block; }

#butt {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px 20px;
  margin: 40px;
  border-radius: 10px;
  font-size: 20.4px;
  font-family: 'Times New Roman'; }
  #butt:hover {
    background-color: #4f7399;
    transition: .2s ease-in; }

/*# sourceMappingURL=main.css.map */
