<!DOCTYPE html>
<html lang = "en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Sadie Parker" href="/feed.xml">
  <link rel="apple-touch-icon" href="" />
  <link rel="icon" href=""/>
  <link rel="shortcut icon" href="" />
  <link rel="stylesheet" type="text/css" href="{% static "/website/assets/css/main.css" %}" />  
  <title>{% block title %}Sadie Parker{% endblock %}</title>
<!-!---script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script-->
<script src="{% static "/website/scripts/animation.js" %}"></script>
<svg height="0">
  <filter id="f1">
    <feGaussianBlur stdDeviation="1"/>
  </filter>
</svg>
    
{% block skripts %}
{% endblock %}
</head>
<body id="{% block page %}{% endblock %}" onload="window.document.getElementById('body-load').style.opacity='1';">
{% block loadinggif %}{% endblock %}
<div id="body-load">
{% block loadedgif %}{% endblock %}
<nav class="{% block nav-selection %}home{% endblock %}">
<div id="top-nav" class="grid">
    <a href="/" class="pretty"></a>
    <a href="/hello/" class="hello">hello
    </a>
    <a href="/work/" class="work">work
    </a>
    <a href="/other/" class="other">other
    </a>
</div>
</div>
</nav>
<div class="wrap">
<div class="placeholder">hello?</div>
  <div class="page">
<header>
<div class="header-wrap grid">
  <h1>Sadie Parker</h1>
    {% if nav %}
      <h2>{% block pagetitle %}{{ nav }} > {{ nav }}{% endblock %}</h2>
	{% else %}
<h2>welcome</h2>
{% endif %}
</div>
</header>


<div class="content">
  {% block content %}
      nothing here, check back tomorrow
  {% endblock %}
</div>
  </div>
</div>
</body>
</html>
