{% extends 'base.html' %}
{% load static %}
{% block page %}about{% endblock %}
{% block subnav %}
{% for project_type in project_types %}
   <a onclick=scrollToId("{{ project_type.lower.split|join:'-' }}")>{{ project_type.lower }}<span> &#9733 </span></a>
{% endfor %}
{% endblock %}
{% block content %}

{% if project_types %}
<div class="projects">
{% for project_type, projects in project_types.items %}
{% if project_type %}
<h3 class="sub-title" id="{{project_type.lower.split|join:'-'}}">{{ project_type.lower }}</h3>
{% for project in projects %}
<div class="project">
<ul>
<li class="proj-title"><h4>{{ project.title }}</h4></li>
{% if project.source_code %}
<li class="sourcecode"><h4><a target="_blank" href="{{project.source_code}}">Source code</a></h4></li>
{% endif %}
</ul>
<div class="info">
<ul>
<li><h4>Tools</h4><h5>{{ project.tools_used }}</h5></li>
<li><h4>Last updated</h4><h5>{{ project.last_updated }}</h5></li>
</ul>


</div>
  <div class="square">
{% if project.link %}
		<a href="{{ project.link }}" target="_blank" >
	<div class="overlay">
		<div class="inner-text">
<img src='{% static "/website/assets/images/favicon.png" %}' />
	    	<p>view</p>
<img src='{% static "/website/assets/images/favicon.png" %}' />
	  </div>
	</div>
		</a>
{% endif %}
			<div class="proj-image">
          <img src="{{ MEDIA_URL }}{{ project.proj_image }}" />
			</div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}
